 
.container {
    max-width: 1140px;
    margin: auto;
  }

h1 {
    font-size: 80px;
    color: #353a40;
    margin: 0px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .accordion-simple > .active {
    display: block;
  }
  
  .accordion__faq .inactive {
    display: none;
  }
  
  .accordion__faq > div {
    margin-bottom: 20px;
    padding: 0px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .accordion__title {
    color: var(--text-secondary);
    padding-bottom: 20px;
    font-weight: 500;
  }
  
  .accordion__faq-heading {
    background-color: #353a40;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    border-radius: 10px 10px 0px 0px;
  }
  
  .symbol {
    display: inline-block;
    vertical-align: middle;
  }
  .accordion__faq-heading .active {
    color: white;
  }
  
  .accordion__faq-heading h3 {
    color: white;
    font-weight: 600;
  }
  
  .accordion__faq p {
    margin: 0px;
    font-weight: bold;
    padding: 10px;
    background-color: #7ea8ff;
    padding-bottom: 30px;
    color: #353a40;
    line-height: 1.4;
    border-radius: 0px 0px 10px 10px;
  }
  
  .verticle {
    padding: 10px;
    color: white !important;
    background-color: #353a40 !important;
    border-radius: 10px 10px 0px 0px !important;
  }
  
  .horizontal {
    padding: 10px;
    color: white !important;
    background-color: #353a40 !important;
    border-radius: 10px 10px 0px 0px !important;
  }
  