@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-3px {
    text-shadow: 3px 3px rgba(0, 0, 0, 0.8);
  }

  .text-shadow-5px {
    text-shadow: 5px 5px rgba(0, 0, 0, 0.8);
  }

  .text-shadow-7px {
    text-shadow: 7px 7px rgba(0, 0, 0, 0.8);
  }

  .white-shadow-1px {
    text-shadow: 2px 2px rgba(255, 255, 255, 0.8);
  }

  .white-shadow-3px {
    text-shadow: 3px 3px rgba(255, 255, 255, 0.8);
  }

  .white-shadow-5px {
    text-shadow: 5px 5px rgba(255, 255, 255, 0.8);
  }

  .white-shadow-7px {
    text-shadow: 7px 7px rgba(255, 255, 255, 0.8);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.discovery {
  font-family: 'Over the Rainbow', cursive;
}

.text {
  background-image: linear-gradient(to bottom, #F8D660, white 70%);
  background-clip: text;
  color: transparent;
}
