@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-shadow-3px{
        text-shadow: 3px 3px rgba(0,0,0,0.8);
    }
    .text-shadow-5px{
        text-shadow: 5px 5px rgba(0,0,0,0.8);
    }
    .text-shadow-7px{
        text-shadow: 7px 7px rgba(0,0,0,0.8);
    }
  }